In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
# Read the dataset from the CSV file
df = pd.read_csv(r"C:\Users\ADMIN\Documents\quikr_car.csv")
df

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",NaN
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",50000kms,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",60000kms,NaN

In [56]:
df.isnull().sum()

name           0
company        0
year           0
Price          0
kms_driven    52
fuel_type     56
dtype: int64

In [57]:
df.fillna({"kms_driven": df["kms_driven"].mode()[0]}, inplace=True)

In [58]:
df.fillna({"fuel_type": df["fuel_type"].mode()[0]}, inplace=True)

In [59]:
columns_to_encode = ["fuel_type"]
df_new = df.copy()

In [6]:
df["company"].value_counts()

company
Maruti        235
Hyundai       145
Mahindra      100
Tata           74
Honda          61
Toyota         39
Chevrolet      35
Renault        34
Ford           31
Volkswagen     20
Skoda          13
Audi           11
Mini            8
Datsun          8
BMW             8
Mitsubishi      6
Mercedes        6
Nissan          6
Commercial      6
Force           4
Fiat            4
I               3
Hindustan       3
tata            3
Jaguar          2
Used            2
Sale            2
MARUTI          2
urgent          2
URJENT          1
Land            1
Yamaha          1
Jeep            1
Swift           1
selling         1
very            1
i               1
2012            1
Well            1
Volvo           1
all             1
7               1
9               1
scratch         1
sell            1
TATA            1
Any             1
Tara            1
Name: count, dtype: int64

In [61]:
encoder = LabelEncoder()

# Change City column to numbers
df_new["fuel_type"] = encoder.fit_transform(df["fuel_type"])
print("\nCity numbers: New York=2, Los Angeles=1, Chicago=0")

# Change Category column to numbers
df_new["fuel_type"] = encoder.fit_transform(df["fuel_type"])
print("Category numbers: Positive=2, Neutral=1, Negative=0")

City numbers: New York=2, Los Angeles=1, Chicago=0
Category numbers: Positive=2, Neutral=1, Negative=0

In [62]:
print("\nAfter Label Encoding:")
print(df_new)

After Label Encoding:
                                       name    company  year          Price  \
0      Hyundai Santro Xing XO eRLX Euro III    Hyundai  2007         80,000
1                   Mahindra Jeep CL550 MDI   Mahindra  2006       4,25,000
2                Maruti Suzuki Alto 800 Vxi     Maruti  2018  Ask For Price
3    Hyundai Grand i10 Magna 1.2 Kappa VTVT    Hyundai  2014       3,25,000
4          Ford EcoSport Titanium 1.5L TDCi       Ford  2014       5,75,000
..                                      ...        ...   ...            ...
887                                      Ta       Tara  zest       3,10,000
888                     Tata Zest XM Diesel       Tata  2018       2,60,000
889                      Mahindra Quanto C8   Mahindra  2013       3,90,000
890                Honda Amaze 1.2 E i VTEC      Honda  2014       1,80,000
891               Chevrolet Sail 1.2 LT ABS  Chevrolet  2014       1,60,000

     kms_driven  fuel_type
0    45,000 kms          2
1        40 kms          0
2    22,000 kms          2
3    28,000 kms          2
4    36,000 kms          0
..          ...        ...
887  35,000 kms          2
888  27,000 kms          0
889  40,000 kms          0
890    50000kms          2
891    60000kms          2

[892 rows x 6 columns]

In [63]:
df["Price"]=df["Price"].astype(str)
df["Price"]=df["Price"].str.replace(",","")
df["Price"]=df["Price"].replace("Ask For Price", None)
df["Price"]=pd.to_numeric(df["Price"], errors="coerce")

df["Price"]=df["Price"].fillna(df["Price"].mean())

In [64]:
df["Price"].round(2)

0       80000.00
1      425000.00
2      404688.53
3      325000.00
4      575000.00
         ...
887    310000.00
888    260000.00
889    390000.00
890    180000.00
891    160000.00
Name: Price, Length: 892, dtype: float64

In [65]:
encoder = LabelEncoder()

df["fuel_type"] = encoder.fit_transform(df["fuel_type"])

In [66]:
df

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000.000000,"45,000 kms",2
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000.000000,40 kms,0
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,404688.534422,"22,000 kms",2
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000.000000,"28,000 kms",2
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000.000000,"36,000 kms",0
...,...,...,...,...,...,...
887,Ta,Tara,zest,310000.000000,"35,000 kms",2
888,Tata Zest XM Diesel,Tata,2018,260000.000000,"27,000 kms",0
889,Mahindra Quanto C8,Mahindra,2013,390000.000000,"40,000 kms",0
890,Honda Amaze 1.2 E i VTEC,Honda,2014,180000.000000,50000kms,2
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,160000.000000,60000kms,2

In [7]:
X = df[["year","kms_driven","fuel_type"]]

y = df["Price"]

X=pd.get_dummies(X)

In [79]:
df["Price"]

0       80000.000000
1      425000.000000
2      404688.534422
3      325000.000000
4      575000.000000
           ...
887    310000.000000
888    260000.000000
889    390000.000000
890    180000.000000
891    160000.000000
Name: Price, Length: 892, dtype: float64

In [80]:
x_train,x_test,y_train,y_test=train_test_split(X, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
X_test_scaled = scaler.transform(x_test)

ValueError: could not convert string to float: 'd...'

In [77]:
y_pred = model.predict(X_test_scaled)
y_pred_proba = model.predict_proba(X_test_scaled)[:, 1]

NameError: name 'model' is not defined