In [7]:
def chandigarh():
    print("hello")
    print("hii")
    
print("welcome")
chandigarh()

welcome
hello
hii

In [8]:
chandigarh()

hello
hii

In [12]:
def sum():
    a=12
    b=3
    c=a+b
    print("result is",c)

sum()
sum()
sum()

result is 15
result is 15
result is 15

In [24]:
a1=100
def ram():
    print("your a value is",a1)
ram()

your a value is 100

In [22]:
def sham():
    a2=300
    print("your a2 value is",a2)
sham()

your a2 value is 300

In [23]:
def sham():
    global a2
    a2=300
    print("your a2 value is",a2)
    
sham()
print("your outside a2 value is",a2)

your a2 value is 300
your outside a2 value is 300

In [27]:
def king():
    print("hello")

def karan():
    king()
    print("i m karan")
    

karan()

hello
i m karan

In [31]:
def zirakhpur (*a):
    print("your value is",a)
    print("value is",a[0])
    print("value is", a[-2])
zirakhpur(12,34, 5465, 2323)

your value is (12, 34, 5465, 2323)
value is 12
value is 5465

In [35]:
def mohali(**w):
    print("your name is ",w['bh'])
    print("your roll is",w['roll'])

mohali(name="pankaj",roll=232,bh="cse")

your name is  cse
your roll is 232

In [37]:
def netmax():
    a=12
    b=3
    c=a+b
    return c
netmax()

15

In [42]:
def stage1 (a,b):
    c=a-b
    return c

def stage2(z):
    vl=stage1(12,3)
    final=vl-z
    return final

result=stage2(100)
print("your ans is",result)

your ans is -91

In [44]:
w=z=12
print("your w value is",w)
print("your z value is",z)

your w value is 12
your z value is 12