In [3]:
!pip install xgboost

Access is denied.

In [13]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split  
from sklearn.ensemble import AdaBoostClassifier      
from sklearn.tree import DecisionTreeClassifier       
from sklearn.metrics import accuracy_score, classification_report  
import matplotlib.pyplot as plt  
from matplotlib.colors import ListedColormap

In [14]:
dataset=pd.read_csv(r"C:\Users\ADMIN\Documents\cardekho.csv")
dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage(km/ltr/kg),engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.2,5.0

In [20]:
dataset.isnull().sum()

name                  0
year                  0
selling_price         0
km_driven             0
fuel                  0
seller_type           0
transmission          0
owner                 0
mileage(km/ltr/kg)    0
engine                0
max_power             0
seats                 0
dtype: int64

In [16]:
dataset.fillna({"mileage(km/ltr/kg)": dataset["mileage(km/ltr/kg)"].mode()[0]}, inplace=True)

In [17]:
dataset.fillna({"engine": dataset["engine"].mode()[0]}, inplace=True)

In [18]:
dataset.fillna({"max_power": dataset["max_power"].mode()[0]}, inplace=True)

In [19]:
dataset.fillna({"seats": dataset["seats"].mode()[0]}, inplace=True)