# LOOP - are used to repeat instructions.

# While loop

In [2]:
count = 1   # variable called iterator
while count <= 5 :
    print("hello")
    count += 1

hello
hello
hello
hello
hello

In [4]:
i = 1
while i <= 5:
    print("hii")
    i+=1

hii
hii
hii
hii
hii

In [5]:
i = 1
while i <= 5:
    print("hii",i)
    i+=1

hii 1
hii 2
hii 3
hii 4
hii 5

In [7]:
# print no. 1 to 10.
i=1
while i <= 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [8]:
# print no. 10 to 1 ( print reverse)
i=10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [2]:
# Q1. print no. from 1 to 20.
i=1
while i<=20:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [4]:
# Q2. print no. from 20 to 1.
i=20
while i >= 1:
    print(i)
    i-=1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [12]:
# Q3. print the multiplication table of a no. n.
n=int(input("enter number :"))
i=1
while i<=10:
    print(n*i)
    i+=1

enter number : 5

5
10
15
20
25
30
35
40
45
50

In [16]:
# Q4.print the element of the following list using a loop:
# [1,2,5,10,8,6,2]
n=[1,2,5,10,8,6,2]

i=0
while i<len(n):
    print(n[i])
    i+=1

1
2
5
10
8
6
2

In [22]:
# Q5. search for a number x in this tuple using loop:

x=50
c=(10,2,50,10,8,6,2)
i=0
while i<len(c):
    if (c[i] == x):
        print("found")
    i+=1

found

# break

In [3]:
i=1
while i<=5:
    print(i)
    if(i==3):
        break
    i+=1

1
2
3

# continue

In [1]:
i=0
while i<=10:
    if(i==7):
        i+=1
        continue
    print(i)
    i+=1

0
1
2
3
4
5
6
8
9
10

In [2]:
# to print odd no.
i=0
while i<=10:
    if(i%2 ==0):
        i+=1
        continue 
    print(i)
    i+=1

1
3
5
7
9

In [3]:
# to print even no.
i=0
while i<=10:
    if(i%2 != 0):
        i+=1
        continue
    print(i)
    i+=1

0
2
4
6
8
10

# For loop - are used to sequential traversal. for traversing list, string, tuples etc.

In [7]:
c=[1,2,3,4]

for val in c:
    print(val)

1
2
3
4

In [9]:
p="apk"

for ck in p:
    print(ck)
else:
    print("thank you")

a
p
k
thank you

In [10]:
p="apk"

for ck in p:
    if(ck=="p"):
        print("p found")
        break
    print(ck)
else:
    print("thank you")

a
p found

In [13]:
# Q1-print the elements of the following list using a loop:
#[1,5,1,4,2,4,2,6]
c=[1,5,1,4,2,4,2,6]

for kl in c:
    print(kl)

1
5
1
4
2
4
2
6

In [18]:
# SEARCH X IN LIST

c=[1,5,1,4,2,4,2,6]
x=6

l=0
for kl in c:
    if(kl==x):
        print("number found at l",l)
        l+=1

number found at l 0

In [5]:
seq = range(5)

for i in seq:
    print(i)

0
1
2
3
4

In [7]:
# RANGE-(start - stop - step)
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [10]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [12]:
#Q1- Print numbers from 1 to 100.
for i in range(1,101,5):
    print(i)

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96

In [14]:
#Q2- print numbers from 100 to 1.
for i in range(100,0,-5):
    print(i)

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

In [17]:
# Q3- PRINT the multiplication table of a number n.
n=int (input("enter number"))
for i in range(1,11):
    print(n*i)

enter number 8

8
16
24
32
40
48
56
64
72
80

In [1]:
# Q4- find the sum of first n numbers.(using while)
n=7

sum=0
for i in range(n+1):
    sum += i

print("total sum =", sum)

total sum = 28

In [2]:

n=5
sum=0
i=1
while i <= n:
    sum+=i
    i+=1
print("total sum =",sum)

total sum = 15

In [4]:
# Q5- find the factorial of first n numbers.(using for)
n=6
fact=1
i=1
while i<=n:
    fact*=i
    i+=1
print("factorial=",fact)

factorial= 720

In [ ]:
n=5
fact=1

for i in range