In [3]:
# -----PRINT NO. 1 to 10  -----------
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [7]:
#   -------PRINT NO. 50 to 60------  
i=50
while i<=60:                  #  STOPPING CONDITION
    print(i)
    i+=2

50
52
54
56
58
60

In [8]:
#  --------PRINT NO. 10 to 3
i=10                               # STARTING CONDITION
while i>=3:                                                 # ----STOPPING CONDITION-----
    print(i)
    i-=1

10
9
8
7
6
5
4
3

In [10]:
#  -------PRINT THE TABLE OF 3----------

i=1
while i<=10:
    print(3*i)
    i+=1

3
6
9
12
15
18
21
24
27
30

In [17]:
#  --------PRINT THE TABLE OF 10--------
i=1            #  ---------- Starting   -------
while i<=10:                    #   -----------     Ending  -------
    print(10*i)
    i+=1

10
20
30
40
50
60
70
80
90
100

In [18]:
#   --------PRINT THE TABLE OF n ---------
n=int(input("enter number : "))
i=1
while i<=10:
    print(n*i)
    i+=1

enter number :  20

20
40
60
80
100
120
140
160
180
200

In [9]:
#  ----PRINT THE ELEMENT OF THE FOLLOOWING LIST USING A LOOP-----
[1,4,9,16,25,36,49,64,81,100]
nums =C
heroes = ["ironman","superman","batman","spiderman"]
len(nums)
len(heroes)

4

In [10]:
idx = 0
while idx < len(nums):
    print(nums[idx])             # nums[0], nums[1], nums[2]
    idx += 1

idx = 0
while idx < len(heroes):
    print(heroes[idx])
    idx += 1

1
4
9
16
25
36
49
64
81
100
ironman
superman
batman
spiderman

In [18]:
#  -------SEARCH FOR A NUMBER X IN THIS TUPLE USING LOOP--------
#         (9,16,25,36,49,64,81,100)
nums = (9,16,25,36,49,64,81,100)
x = 64

i = 0
while i < len(nums):
    if(nums[i] == x):
            print("found at idx",i)
    i += 1

found at idx 5

In [1]:
#  ----------BREAK--------
i = 1
while i <= 5:
    print(i)
    if (i == 3):
        break
    i += 1

print("end of loop")

1
2
3
end of loop

In [4]:
#  ----------CONTINUE----------

munna=1
while munna<=10:
    print(munna)
    if (munna==6):
        continue
    munna += 2

print("end of loop")

1
3
5
7
9
end of loop

In [5]:
P=3
while P<=14:
    print(P)
    if (P==8):
        continue
    P+=2

print("end of loop")

3
5
7
9
11
13
end of loop

In [1]:
P=3
while P<=14:
    print(P)
    if (P==8):
        break

    P+=1

3
4
5
6
7
8

In [4]:
#---------- TO PRINT ODD NUMBER ------------
P=3
while P<=14:
    if (P%2 == 0):
        P+=1
        continue   #SKIP
    print(P)
    P+=1

3
5
7
9
11
13

In [3]:
#  --------- TO PRINT EVEN NUMBERS ----------
P=1
while P<=14:
    if (P%2 != 0):
        P+=1
        continue     #SKIP  
    print(P)
    P+=1

2
4
6
8
10
12
14