In [106]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score,root_mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import StandardScaler

In [61]:
dataset=pd.read_csv(r"C:\Users\ADMIN\Documents\cardekho.csv")
dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage(km/ltr/kg),engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.2,5.0

In [62]:
dataset.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
8123    False
8124    False
8125    False
8126     True
8127     True
Length: 8128, dtype: bool

In [95]:
dataset.isnull().sum()

name                  0
year                  0
selling_price         0
km_driven             0
fuel                  0
seller_type           0
transmission          0
owner                 0
mileage(km/ltr/kg)    0
engine                0
max_power             0
seats                 0
dtype: int64

In [88]:
dataset["mileage(km/ltr/kg)"]=dataset["mileage(km/ltr/kg)"].fillna(dataset["mileage(km/ltr/kg)"].mean())

In [89]:
dataset["engine"]=dataset["engine"].fillna(dataset["engine"].mean())

In [92]:
dataset['max_power'] = pd.to_numeric(dataset['max_power'], errors='coerce')

In [93]:
dataset["max_power"]=dataset["max_power"].fillna(dataset["max_power"].mean())

In [94]:
dataset.fillna({"seats": dataset["seats"].mode()[0]}, inplace=True)
dataset

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage(km/ltr/kg),engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.50,1197.0,82.85,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.80,1493.0,110.00,5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.30,1248.0,73.90,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57,1396.0,70.00,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57,1396.0,70.00,5.0

In [96]:
dataset.describe()

,year,selling_price,km_driven,mileage(km/ltr/kg),engine,max_power,seats
count,8128.000000,8.128000e+03,8.128000e+03,8128.000000,8128.00000,8128.000000,8128.000000
mean,2013.804011,6.382718e+05,6.981951e+04,19.404678,1452.89813,91.054482,5.405389
std,4.044249,8.062534e+05,5.655055e+04,3.982769,498.19672,35.454883,0.948874
min,1983.000000,2.999900e+04,1.000000e+00,0.000000,624.00000,0.000000,2.000000
25%,2011.000000,2.549990e+05,3.500000e+04,16.800000,1197.00000,68.100000,5.000000
50%,2015.000000,4.500000e+05,6.000000e+04,19.100000,1248.00000,81.860000,5.000000
75%,2017.000000,6.750000e+05,9.800000e+04,22.277500,1582.00000,101.250000,5.000000
max,2020.000000,1.000000e+07,2.360457e+06,42.000000,3604.00000,400.000000,14.000000

In [97]:
#x = dataset[["year","km_driven","mileage(km/ltr/kg)","engine"]]
#y = dataset["selling_price"] 


x=dataset.drop(columns=["name","selling_price"])
y=dataset["selling_price"]

In [98]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

x_train=pd.get_dummies(x_train,columns=["fuel","transmission","owner","seller_type"],dtype=int)
x_test=pd.get_dummies(x_test,columns=["fuel","transmission","owner","seller_type"],dtype=int)
x_test = x_test.reindex(columns=x_train.columns, fill_value=0)

x_train["max_power"] = pd.to_numeric(x_train["max_power"], errors='coerce')

In [99]:
scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [102]:
model=LinearRegression()
model.fit(x_train_scaled,y_train)
y_pred=model.predict(x_test_scaled)

In [103]:
mse=mean_squared_error(y_test,y_pred)
print(f"MSE: {mse}")

print("  ")

r2=r2_score(y_test,y_pred)
print(f"R2_Score  : {r2}")

MSE: 198344435444.70963

R2_Score  : 0.6974078662763381

In [105]:
#random Forest model
model1=RandomForestRegressor(n_estimators=100,max_depth=5,random_state=42)
model1.fit(x_train_scaled,y_train)
y_pred1=model1.predict(x_test_scaled)

mse1=mean_squared_error(y_test,y_pred1)
print(f"MSE: {mse1}")

print("  ")

r2r=r2_score(y_test,y_pred1)
print(f"R2_Score  : {r2r}")

MSE: 36386677939.69003

R2_Score  : 0.9444888761703842

In [107]:
#Decision tree model
model2=DecisionTreeRegressor(max_depth=10,random_state=42)
model2.fit(x_train_scaled,y_train)
y_pred2=model2.predict(x_test_scaled)

mse2=mean_squared_error(y_test,y_pred2)
print(f"MSE: {mse2}")

print("  ")

r2d=r2_score(y_test,y_pred2)
print(f"R2_Score  : {r2d}")

MSE: 37948649756.10785

R2_Score  : 0.9421059487961608