In [3]:
import pandas as pd

In [6]:
df1=pd.DataFrame({"ID":[1,2,3],"name":["alice","bob","charlie"]})
df2=pd.DataFrame({"ID":[4,5,6],"name":["david","eve","frank"]})
print(df1 + df2)

   ID          name
0   5    alicedavid
1   7        bobeve
2   9  charliefrank

In [12]:
concat_df=pd.concat([df1,df2],ignore_index=True)
print(concat_df)                                      # FALSE DOES NOT GIVE INDEX IN SEQUENCE

   ID     name
0   1    alice
1   2      bob
2   3  charlie
3   4    david
4   5      eve
5   6    frank

In [14]:
df3=pd.DataFrame({"age":[25,30,35]})
concat_cols=pd.concat([df1, df3], axis=1)
print(concat_cols)

   ID     name  age
0   1    alice   25
1   2      bob   30
2   3  charlie   35

In [25]:
v=pd.DataFrame({"ID":[1,2,3],"name":["alice","bob","charlie"]})
c=pd.DataFrame({"ID":[4,5,6],"score":[90,85,80]})
print(v,c)

   ID     name
0   1    alice
1   2      bob
2   3  charlie    ID  score
0   4     90
1   5     85
2   6     80

In [21]:
# MERGE
inner_df=pd.merge(df1,df2, on="ID", how="right")
print(inner_df)

   ID name_x name_y
0   4    NaN  david
1   5    NaN    eve
2   6    NaN  frank

In [22]:
inner_df=pd.merge(df1,df2, on="ID", how="left")
print(inner_df)

   ID   name_x name_y
0   1    alice    NaN
1   2      bob    NaN
2   3  charlie    NaN

In [23]:
inner_df=pd.merge(df1,df2, on="ID", how="outer")
print(inner_df)

   ID   name_x name_y
0   1    alice    NaN
1   2      bob    NaN
2   3  charlie    NaN
3   4      NaN  david
4   5      NaN    eve
5   6      NaN  frank

In [24]:
inner_df=pd.merge(df1,df2, on="ID", how="inner")
print(inner_df)

Empty DataFrame
Columns: [ID, name_x, name_y]
Index: []

In [38]:
h=pd.DataFrame({"ID":[1,2,3], "dept":["hr", "it", "hr"],"name":["alice","bob","charlie"]})
y=pd.DataFrame({"ID":[1,2,3], "dept":["hr", "it", "hr"],"salary":[50000,60000,55000]})
print(h,y)

   ID dept     name
0   1   hr    alice
1   2   it      bob
2   3   hr  charlie    ID dept  salary
0   1   hr   50000
1   2   it   60000
2   3   hr   55000

In [39]:
multi_merge=pd.merge(h,y, on=["ID", "dept"], how="inner")
print(multi_merge)

   ID dept     name  salary
0   1   hr    alice   50000
1   2   it      bob   60000
2   3   hr  charlie   55000