# LOC AND ILOC

In [103]:
import pandas as pd
data=pd.read_csv(r"C:\Users\ADMIN\Documents\student_data.csv")
data

,id,name,age,grade,math_score,english_score,science_score,attendance_percentage,study_hours,extracurricular
0,1,John Smith,15,10,85,78,82,95.5,5,Yes
1,2,Emma Johnson,16,11,90,85,88,92.3,6,No
2,3,Michael Brown,14,9,75,70,72,88.7,4,Yes
3,4,Sophia Davis,15,10,82,80,79,93.1,5,No
4,5,James Wilson,16,11,88,86,90,96.2,7,Yes
...,...,...,...,...,...,...,...,...,...,...
95,96,Piper Ellis,14,9,74,72,71,88.0,3,No
96,97,Kayden Boyd,15,10,81,79,78,92.9,5,Yes
97,98,Aliyah Holmes,16,11,89,87,86,96.0,8,No
98,99,Declan Porter,14,9,73,71,70,87.8,4,Yes
99,100,Sienna Riley,15,10,82,80,79,93.1,6,No

In [102]:
# 1. Using loc, select all columns for the student with id 10.
print(data.loc[10,"id":"extracurricular"])

id                               11
name                     Noah White
age                              16
grade                            11
math_score                       89
english_score                    87
science_score                    86
attendance_percentage          95.1
study_hours                       7
extracurricular                 Yes
Name: 10, dtype: object

In [3]:
# 2. Using iloc, select the first 5 rows and the first 3 columns of the dataset.
print(data.iloc[0:5,0:2])

   id           name
0   1     John Smith
1   2   Emma Johnson
2   3  Michael Brown
3   4   Sophia Davis
4   5   James Wilson

In [13]:
# 3. Using loc, select the 'name' and 'math_score' for students in grade 11.
print(data.loc[data["grade"]==11,["name","math_score"]])

                name  math_score
1       Emma Johnson          90
4       James Wilson          88
7       Ava Anderson          91
10        Noah White          89
13   Charlotte Lewis          92
16      Daniel Allen          87
19      Evelyn Scott          90
22        Jack Baker          88
25      Avery Carter          89
28    Elijah Roberts          90
31    Grace Campbell          91
34     Aiden Edwards          89
37       Zoey Morris          90
40     Joseph Morgan          88
43       Aria Cooper          89
46          Luke Cox          90
49      Natalie Wood          91
52       Julian Gray          89
55     Lillian Perry          90
58       Jaxon Kelly          88
61     Arianna Price          89
64       Joshua Ross          90
67      Skylar Ortiz          91
70  Tristan Sullivan          89
73       Maya Hunter          90
76      Aaron Bryant          88
79   Eleanor Russell          89
82     Easton Jordan          90
85   Addison Simmons          91
88        Evan Berry          89
91     Brooklyn Dunn          90
94     Caleb Gardner          88
97     Aliyah Holmes          89

In [19]:
#4. Using iloc, select the last 10 rows and columns 2 through 5.
print(data.iloc[-10:,2:5])

    age  grade  math_score
90   15     10          82
91   16     11          90
92   14      9          75
93   15     10          80
94   16     11          88
95   14      9          74
96   15     10          81
97   16     11          89
98   14      9          73
99   15     10          82

In [27]:
#5. Using loc, select all columns for students with attendance_percentage greater than 95.
print(data.loc[data["attendance_percentage"]>95])

    id              name  age  grade  math_score  english_score  \
0    1        John Smith   15     10          85             78
4    5      James Wilson   16     11          88             86
7    8      Ava Anderson   16     11          91             89
10  11        Noah White   16     11          89             87
13  14   Charlotte Lewis   16     11          92             90
16  17      Daniel Allen   16     11          87             85
19  20      Evelyn Scott   16     11          90             88
22  23        Jack Baker   16     11          88             86
25  26      Avery Carter   16     11          89             87
28  29    Elijah Roberts   16     11          90             88
31  32    Grace Campbell   16     11          91             89
34  35     Aiden Edwards   16     11          89             87
37  38       Zoey Morris   16     11          90             88
40  41     Joseph Morgan   16     11          88             86
43  44       Aria Cooper   16     11          89             87
46  47          Luke Cox   16     11          90             88
49  50      Natalie Wood   16     11          91             89
52  53       Julian Gray   16     11          89             87
55  56     Lillian Perry   16     11          90             88
58  59       Jaxon Kelly   16     11          88             86
61  62     Arianna Price   16     11          89             87
64  65       Joshua Ross   16     11          90             88
67  68      Skylar Ortiz   16     11          91             89
70  71  Tristan Sullivan   16     11          89             87
73  74       Maya Hunter   16     11          90             88
76  77      Aaron Bryant   16     11          88             86
79  80   Eleanor Russell   16     11          89             87
82  83     Easton Jordan   16     11          90             88
85  86   Addison Simmons   16     11          91             89
88  89        Evan Berry   16     11          89             87
91  92     Brooklyn Dunn   16     11          90             88
94  95     Caleb Gardner   16     11          88             86
97  98     Aliyah Holmes   16     11          89             87

    science_score  attendance_percentage  study_hours extracurricular
0              82                   95.5            5             Yes
4              90                   96.2            7             Yes
7              87                   97.0            8              No
10             86                   95.1            7             Yes
13             89                   96.5            8              No
16             84                   95.8            7             Yes
19             87                   96.3            8              No
22             85                   95.7            7             Yes
25             86                   96.1            8              No
28             87                   95.9            7             Yes
31             88                   96.4            8              No
34             86                   95.6            7             Yes
37             87                   96.2            8              No
40             85                   95.8            7             Yes
43             86                   96.0            8              No
46             87                   95.9            7             Yes
49             88                   96.3            8              No
52             86                   95.7            7             Yes
55             87                   96.1            8              No
58             85                   95.6            7             Yes
61             86                   96.0            8              No
64             87                   95.8            7             Yes
67             88                   96.2            8              No
70             86                   95.9            7             Yes
73             87                   96.1            8              No
76             85                   95.7            7             Yes
79             86                   96.0            8              No
82             87                   95.8            7             Yes
85             88                   96.2            8              No
88             86                   95.9            7             Yes
91             87                   96.1            8              No
94             85                   95.7            7             Yes
97             86                   96.0            8              No

In [49]:
#6. Using iloc, select every other row from the first 20 rows and columns 0, 3, and 6.

print(data.iloc[0:20,[0,3,6]])

    id  grade  science_score
0    1     10             82
1    2     11             88
2    3      9             72
3    4     10             79
4    5     11             90
5    6      9             65
6    7     10             80
7    8     11             87
8    9      9             71
9   10     10             83
10  11     11             86
11  12      9             67
12  13     10             77
13  14     11             89
14  15      9             70
15  16     10             78
16  17     11             84
17  18      9             69
18  19     10             76
19  20     11             87

In [59]:
#  7. Using loc, select 'name', 'age', and 'science_score' for students named 'Emma Johnson' or 'Liam Martinez'.
print(data.loc[data["name"].isin(['Emma Johnson','Liam Martinez']),["name","age","science_score"]])

            name  age  science_score
1   Emma Johnson   16             88
8  Liam Martinez   14             71

In [68]:
# 8. Using iloc, select the 10th to 15th rows (inclusive) and the last 3 columns.
print(data.iloc[9:15,[7,9]])

    attendance_percentage extracurricular
9                    92.9              No
10                   95.1             Yes
11                   86.8              No
12                   93.4             Yes
13                   96.5              No
14                   88.2             Yes

In [76]:
# 9. Using loc, select all columns for students who participate in extracurricular activities (extracurricular = 'Yes').["
print(data.loc[data["extracurricular"]=="yes"])

Empty DataFrame
Columns: [id, name, age, grade, math_score, english_score, science_score, attendance_percentage, study_hours, extracurricular]
Index: []

In [86]:
# 10. Using iloc, select the first 3 columns for rows 20 to 30.
print(data.iloc[20:30, 0:3])

    id             name  age
20  21      Lucas Green   14
21  22    Abigail Adams   15
22  23       Jack Baker   16
23  24   Emily Gonzalez   14
24  25  Benjamin Nelson   15
25  26     Avery Carter   16
26  27   Mason Mitchell   14
27  28      Sofia Perez   15
28  29   Elijah Roberts   16
29  30     Chloe Turner   14

In [88]:
#      OR
# 10. Using iloc, select the first 3 columns for rows 20 to 30.
print(data.iloc[20:30, [0,1,2]])

    id             name  age
20  21      Lucas Green   14
21  22    Abigail Adams   15
22  23       Jack Baker   16
23  24   Emily Gonzalez   14
24  25  Benjamin Nelson   15
25  26     Avery Carter   16
26  27   Mason Mitchell   14
27  28      Sofia Perez   15
28  29   Elijah Roberts   16
29  30     Chloe Turner   14

In [105]:
#  11. Using loc, select 'name' and 'english_score' for students with math_score above 85.
print(data.loc[data["math_score"]>85,["name","english_score"]])

                name  english_score
1       Emma Johnson             85
4       James Wilson             86
7       Ava Anderson             89
10        Noah White             87
13   Charlotte Lewis             90
16      Daniel Allen             85
19      Evelyn Scott             88
22        Jack Baker             86
25      Avery Carter             87
28    Elijah Roberts             88
31    Grace Campbell             89
34     Aiden Edwards             87
37       Zoey Morris             88
40     Joseph Morgan             86
43       Aria Cooper             87
46          Luke Cox             88
49      Natalie Wood             89
52       Julian Gray             87
55     Lillian Perry             88
58       Jaxon Kelly             86
61     Arianna Price             87
64       Joshua Ross             88
67      Skylar Ortiz             89
70  Tristan Sullivan             87
73       Maya Hunter             88
76      Aaron Bryant             86
79   Eleanor Russell             87
82     Easton Jordan             88
85   Addison Simmons             89
88        Evan Berry             87
91     Brooklyn Dunn             88
94     Caleb Gardner             86
97     Aliyah Holmes             87

In [113]:
# 12. Using iloc, select rows 50 to 60 and columns 'name', 'grade', and 'study_hours' by their index positions.
print(data.iloc[50:61,[1,3,8]])

              name  grade  study_hours
50  Gabriel Fisher      9            4
51  Victoria Stone     10            6
52     Julian Gray     11            7
53    Hazel Hughes      9            3
54       Levi West     10            5
55   Lillian Perry     11            8
56    Grayson Ford      9            4
57    Aubrey Myers     10            6
58     Jaxon Kelly     11            7
59      Ellie Long      9            3
60  Lincoln Foster     10            5

In [129]:
# 13. Using loc, select all columns for students aged 14 who have a science_score below 70.
print(data.loc[(data["age"]==14) & (data["science_score"]<70),data.columns[:9]])

    id           name  age  grade  math_score  english_score  science_score  \
5    6  Olivia Taylor   14      9          70             68             65
11  12     Mia Harris   14      9          71             69             67
17  18   Harper Young   14      9          73             71             69
20  21    Lucas Green   14      9          72             70             68

    attendance_percentage  study_hours
5                    87.4            3
11                   86.8            3
17                   87.9            3
20                   88.5            4

In [134]:
#  14. Using iloc, select the 5th column for the first 25 rows.
print(data.iloc[1:26,0:5])

    id              name  age  grade  math_score
1    2      Emma Johnson   16     11          90
2    3     Michael Brown   14      9          75
3    4      Sophia Davis   15     10          82
4    5      James Wilson   16     11          88
5    6     Olivia Taylor   14      9          70
6    7     William Moore   15     10          83
7    8      Ava Anderson   16     11          91
8    9     Liam Martinez   14      9          76
9   10   Isabella Thomas   15     10          84
10  11        Noah White   16     11          89
11  12        Mia Harris   14      9          71
12  13       Ethan Clark   15     10          80
13  14   Charlotte Lewis   16     11          92
14  15  Alexander Walker   14      9          74
15  16       Amelia Hall   15     10          81
16  17      Daniel Allen   16     11          87
17  18      Harper Young   14      9          73
18  19        Henry King   15     10          79
19  20      Evelyn Scott   16     11          90
20  21       Lucas Green   14      9          72
21  22     Abigail Adams   15     10          80
22  23        Jack Baker   16     11          88
23  24    Emily Gonzalez   14      9          74
24  25   Benjamin Nelson   15     10          81
25  26      Avery Carter   16     11          89

In [136]:
#   15. Using loc, select 'name', 'math_score', and 'english_score' for students with study_hours equal to 8.
print(data.loc[data["study_hours"]==8,["name","math_score","english_score"]])

               name  math_score  english_score
7      Ava Anderson          91             89
13  Charlotte Lewis          92             90
19     Evelyn Scott          90             88
25     Avery Carter          89             87
31   Grace Campbell          91             89
37      Zoey Morris          90             88
43      Aria Cooper          89             87
49     Natalie Wood          91             89
55    Lillian Perry          90             88
61    Arianna Price          89             87
67     Skylar Ortiz          91             89
73      Maya Hunter          90             88
79  Eleanor Russell          89             87
85  Addison Simmons          91             89
91    Brooklyn Dunn          90             88
97    Aliyah Holmes          89             87