# pandas

In [2]:
import  pandas as pd 

data={
    "Name":["Alice","Bob","Charlie"],
    "Age":[25,30,35],
    "city":["Ney York","London","Paris"]
}
df=pd.DataFrame(data)
print(df)

      Name  Age      city
0    Alice   25  Ney York
1      Bob   30    London
2  Charlie   35     Paris

In [3]:
data={
    "name":["john","alice","bob","emma","liam"],
    "age": [18,19,17,20,18],
    "marks":[85,92,78,65,88]
}
gh=pd.DataFrame(data)
print(gh)

    name  age  marks
0   john   18     85
1  alice   19     92
2    bob   17     78
3   emma   20     65
4   liam   18     88

In [2]:
import  pandas as pd 

data={
    "Name":["Alice","Bob","bob","kapil","emma"],
    "Age":[25,30,30,40,28],
    "salary":[50000,70000,70000,80000,65000],
}
df=pd.DataFrame(data)
print(df)

    Name  Age  salary
0  Alice   25   50000
1    Bob   30   70000
2    bob   30   70000
3  kapil   40   80000
4   emma   28   65000

In [18]:
df.info()                     # TO GET INFORMATION FROM THE DATASET
df.isnull().sum()             # TO FIND OUT THE NULL VALUES FROM THE DATASET
df.duplicated().astype(int)   # TO FIND OUT THE DUPLICATE VALUES FROM THE DATASET
df.drop_duplicates()          # TO DROP_DUPLICATES ROWS FROM THE DATASET


df.head()                     # to find out first 5 rows from the dataset
df.tail()                     # to find out last 5 rows from the dataset
df.describe                   # for the statistical summary of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   salary  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

<bound method NDFrame.describe of     Name  Age  salary
0  Alice   25   50000
1    Bob   30   70000
2    bob   30   70000
3  kapil   40   80000
4   emma   28   65000>

# LOC - Labelling and indexing
# ILOC- INDEX BASE LOCATION

In [2]:
import pandas as pd
data=pd.read_csv(r"C:\Users\ADMIN\Documents\student_data.csv")
data

,id,name,age,grade,math_score,english_score,science_score,attendance_percentage,study_hours,extracurricular
0,1,John Smith,15,10,85,78,82,95.5,5,Yes
1,2,Emma Johnson,16,11,90,85,88,92.3,6,No
2,3,Michael Brown,14,9,75,70,72,88.7,4,Yes
3,4,Sophia Davis,15,10,82,80,79,93.1,5,No
4,5,James Wilson,16,11,88,86,90,96.2,7,Yes
...,...,...,...,...,...,...,...,...,...,...
95,96,Piper Ellis,14,9,74,72,71,88.0,3,No
96,97,Kayden Boyd,15,10,81,79,78,92.9,5,Yes
97,98,Aliyah Holmes,16,11,89,87,86,96.0,8,No
98,99,Declan Porter,14,9,73,71,70,87.8,4,Yes
99,100,Sienna Riley,15,10,82,80,79,93.1,6,No

In [15]:
# 1. Using loc, select all columns for the student with id 10.
print(data.loc[9])

id                                    10
name                     Isabella Thomas
age                                   15
grade                                 10
math_score                            84
english_score                         82
science_score                         83
attendance_percentage               92.9
study_hours                            5
extracurricular                       No
Name: 9, dtype: object

In [33]:
# Using iloc, select the first 5 rows and the first 3 columns of the dataset.
print(data.iloc[:5, :3])

   id           name  age
0   1     John Smith   15
1   2   Emma Johnson   16
2   3  Michael Brown   14
3   4   Sophia Davis   15
4   5   James Wilson   16

In [48]:
# Using loc, select the 'name' and 'math_score' for students in grade 11.
print(data.loc[data["grade"]==11,["name", "math_score"]])

                name  math_score
1       Emma Johnson          90
4       James Wilson          88
7       Ava Anderson          91
10        Noah White          89
13   Charlotte Lewis          92
16      Daniel Allen          87
19      Evelyn Scott          90
22        Jack Baker          88
25      Avery Carter          89
28    Elijah Roberts          90
31    Grace Campbell          91
34     Aiden Edwards          89
37       Zoey Morris          90
40     Joseph Morgan          88
43       Aria Cooper          89
46          Luke Cox          90
49      Natalie Wood          91
52       Julian Gray          89
55     Lillian Perry          90
58       Jaxon Kelly          88
61     Arianna Price          89
64       Joshua Ross          90
67      Skylar Ortiz          91
70  Tristan Sullivan          89
73       Maya Hunter          90
76      Aaron Bryant          88
79   Eleanor Russell          89
82     Easton Jordan          90
85   Addison Simmons          91
88        Evan Berry          89
91     Brooklyn Dunn          90
94     Caleb Gardner          88
97     Aliyah Holmes          89

In [ ]:
#4. Using iloc, select the last 10 rows and columns 2 through 5.

In [51]:
print(data.iloc[90:,2:5])

    age  grade  math_score
90   15     10          82
91   16     11          90
92   14      9          75
93   15     10          80
94   16     11          88
95   14      9          74
96   15     10          81
97   16     11          89
98   14      9          73
99   15     10          82

In [57]:
# 5. Using loc, select all columns for students with attendance_percentage greater than 95.
data.loc[data['attendance_percentage'] > 95]

,id,name,age,grade,math_score,english_score,science_score,attendance_percentage,study_hours,extracurricular
0,1,John Smith,15,10,85,78,82,95.5,5,Yes
4,5,James Wilson,16,11,88,86,90,96.2,7,Yes
7,8,Ava Anderson,16,11,91,89,87,97.0,8,No
10,11,Noah White,16,11,89,87,86,95.1,7,Yes
13,14,Charlotte Lewis,16,11,92,90,89,96.5,8,No
16,17,Daniel Allen,16,11,87,85,84,95.8,7,Yes
19,20,Evelyn Scott,16,11,90,88,87,96.3,8,No
22,23,Jack Baker,16,11,88,86,85,95.7,7,Yes
25,26,Avery Carter,16,11,89,87,86,96.1,8,No
28,29,Elijah Roberts,16,11,90,88,87,95.9,7,Yes
31,32,Grace Campbell,16,11,91,89,88,96.4,8,No
34,35,Aiden Edwards,16,11,89,87,86,95.6,7,Yes
37,38,Zoey Morris,16,11,90,88,87,96.2,8,No
40,41,Joseph Morgan,16,11,88,86,85,95.8,7,Yes
43,44,Aria Cooper,16,11,89,87,86,96.0,8,No
46,47,Luke Cox,16,11,90,88,87,95.9,7,Yes
49,50,Natalie Wood,16,11,91,89,88,96.3,8,No
52,53,Julian Gray,16,11,89,87,86,95.7,7,Yes
55,56,Lillian Perry,16,11,90,88,87,96.1,8,No
58,59,Jaxon Kelly,16,11,88,86,85,95.6,7,Yes
61,62,Arianna Price,16,11,89,87,86,96.0,8,No
64,65,Joshua Ross,16,11,90,88,87,95.8,7,Yes
67,68,Skylar Ortiz,16,11,91,89,88,96.2,8,No
70,71,Tristan Sullivan,16,11,89,87,86,95.9,7,Yes
73,74,Maya Hunter,16,11,90,88,87,96.1,8,No
76,77,Aaron Bryant,16,11,88,86,85,95.7,7,Yes
79,80,Eleanor Russell,16,11,89,87,86,96.0,8,No
82,83,Easton Jordan,16,11,90,88,87,95.8,7,Yes
85,86,Addison Simmons,16,11,91,89,88,96.2,8,No
88,89,Evan Berry,16,11,89,87,86,95.9,7,Yes
91,92,Brooklyn Dunn,16,11,90,88,87,96.1,8,No
94,95,Caleb Gardner,16,11,88,86,85,95.7,7,Yes
97,98,Aliyah Holmes,16,11,89,87,86,96.0,8,No

In [12]:
# 6. Using iloc, select every other row from the first 20 rows and columns 0, 3, and 6.
print(data.iloc[0:20:1, [0,3,6]])

    id  grade  science_score
0    1     10             82
1    2     11             88
2    3      9             72
3    4     10             79
4    5     11             90
5    6      9             65
6    7     10             80
7    8     11             87
8    9      9             71
9   10     10             83
10  11     11             86
11  12      9             67
12  13     10             77
13  14     11             89
14  15      9             70
15  16     10             78
16  17     11             84
17  18      9             69
18  19     10             76
19  20     11             87

In [15]:
# 7. Using loc, select 'name', 'age', and 'science_score' for students named 'Emma Johnson' or 'Liam Martinez'.
# Assuming your DataFrame is called df
print(data.loc[data["name"].isin(["Emma Johnson", "Liam Martinez"]), ["name", "age", "science_score"]])

            name  age  science_score
1   Emma Johnson   16             88
8  Liam Martinez   14             71