In [2]:
print("Hello Parshant")

Hello Parshant

In [3]:
print("my name is parshant")
print("my age is 23")

my name is parshant
my age is 23

In [4]:
print(46)

46

In [10]:
print(80+40)

120

# VARIABLE - is a name given to a memory location to a program., in this we store our values

# name = parshant .        name is variable here.

In [12]:
name="parshant"
age=23
print(name)
print(age)

print(type(name))
print(type(age))

parshant
23
<class 'str'>
<class 'int'>

# DATA TYPES

# string
# integers
# float
# boolean
# none

In [13]:
a=10
b=20
c=a+b
print(c)

30

# string input

In [16]:
name=input("name :")

name : Parshant

In [17]:
print(name)

Parshant

# int input

In [18]:
age=int(input("age :"))

age : 23

In [19]:
print(age)

23

# float input

In [21]:
price=float(input("price : "))

price :  64.2

In [22]:
print("my name is ",name, "and i am", age, "years old")

my name is  Parshant and i am 23 years old

# CONDITIONAL STATEMENTS

# if-elif-else

In [28]:
age = 20
if(age>18):
    print("vote")
elif(age < 18):
    print("under age")

vote

In [29]:
light = input("light : ")
if(light == "red"):
    print("stop")
elif(light == "yellow"):
    print("look")
elif(light == "green"):
    print("go")
else:
    print("take care")

light :  yellow

look

In [31]:
marks = int(input("marks : "))
if (marks >= 90):
    print("A")
elif (marks >= 80 and marks < 90):
    print("B")
elif (marks >= 70 and marks < 80):
    print("C")
else:
    print("D")

marks :  85

B

# ARITHMATIC OPERATIONS -+,-,*,/,%,^^.

In [36]:
a=10
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)          # Remainder
print(a^b)

13
7
30
3.3333333333333335
1
9

# RELATIONAL / COMPAIRISON OPERATOR - ==, !=, >=, <=, <, >.

In [37]:
a=20
b=30

print(a==b)

False

In [38]:
a=50
b=50

print(a==b)

True

In [39]:
a=20
b=30

print(a!=b)

True

In [40]:
a=20
b=30

print(a>=b)

False

In [41]:
a=20
b=30

print(a>b)

False

# ASSIGNMENT OPERATOR -+=, -=, *=, /=, **=

In [43]:
A=10
A=A+40
print(A)

50

In [50]:
a=20
a+=10       # ADD
print(a)

30

In [51]:
a=30
a*=10         # MULTIPLY
print(a)

300

In [52]:
a=10
a/=2          # DIVIDE
print(a)

5.0

In [53]:
a=10
a-=2        # SUB
print(a)

8

In [54]:
a=10
a%=3          # Remainder
print(a)

1

In [55]:
a=20
a**=2        #  ** used for power
print(a)

400

# LOGICAL OPERATORS - not , and , or.

In [57]:
print(not False)
print(not True)

True
False

In [58]:
a=20
b=30
print(not(a<b))
print(not(a>b))

False
True

In [62]:
a=True
b=False
print(a and b)   # BOTH SHOULD SAME

False

In [63]:
a=True
b=False
print(a or b)

True

In [65]:
a=False
b=False
print(a and b)

False

In [66]:
a=20
b=10
print(a==b) or (a>b)

False

True

In [67]:
a=10
b=10.42

sum=a+b
print(sum)

20.42

# INPUT

In [68]:
input("enter your name :")

enter your name : parshant

'parshant'

In [69]:
name= input("enter your name :")
print("welcome", name)

enter your name : parshant

welcome parshant

In [70]:
c=input("enter your age :")
print("welcome",c)

enter your age : 23

welcome 23

In [72]:
var=int(input("enter your age:"))
print(type(var),var)

enter your age: 23

<class 'int'> 23

In [73]:
var = float(input("Enter your age: "))
print(type(var), var)

Enter your age:  24.2465

<class 'float'> 24.2465

In [74]:
name=input("enter your name:")
age=int(input("enter your age:"))
gender=input("enter your gender:")

print("welcome", name)
print("age=", age)
print("gender =", gender)

enter your name: parshant
enter your age: 23
enter your gender: male

welcome parshant
age= 23
gender = male

# practice questions

In [75]:
a=int(input("enter first :"))
b=int(input("enter second :"))

print("sum", a+b)

enter first : 10
enter second : 20

sum 30

In [1]:
# WAP TO INPUT SIDE OF A SQUARE AND PRINT ITS AREA.
side=float(input("enter square side:"))
print("area=", side * side)

enter square side: 6

area= 36.0

In [4]:
a=float(input("enter first : "))
b=float(input("enter second : "))
print("avg=", (a+b)/2)

enter first :  18.44
enter second :  4.24

avg= 11.34

In [5]:
a=int(input("enter first : "))
b=int(input("enter second : "))
print(a>=b)

enter first :  58
enter second :  14

True

# STRINGS - immuteable

In [6]:
a="hello"
a_2="hii"
print(a)
print(a_2)

hello
hii

In [13]:
c="right to vote.\n hello world"
print(c)

right to vote.
 hello world

# CONCATINATION

In [18]:
A="happy"
B="birthday"
C=A+B
print(C)

happybirthday

In [19]:
# indexing
a="happybirthday"
c=a[4]
print(c)

y

In [20]:
# slicing
a="happybirthday"
b=a[1:5]
print(b)

appy

# string functions

In [25]:
v="i am student"
print(v.endswith("ent"))

True

In [26]:
b="i am student"
print(b.capitalize())

I am student

In [27]:
b="i am student"
print(b.replace("u","o"))

i am stodent

In [31]:
var="i am a data scientist i am a i am a i am a "
print(var.find("a"))

2

In [32]:
var="i am a data scientist"
print(var.count("a"))

4

# practice question

In [34]:
# 1. write a program to input user first name & print its length.
a=input("enter first name")
len(a)

enter first name parshant

8

# condition statements - if - elif - else

In [36]:
age=20
if age >=18:
    print("vote")
if age <=10:
    print("not allowed")
else:
    print("welcome")

vote
welcome

In [47]:
light=input("light :")
if (light == "red"):
    print("oops")
if (light == "yellow"):
    print("happy")
if (light == "green"):
    print("wow")
else:
    print("go")

light : green

wow

In [48]:
marks = int(input("marks :"))
if(marks >= 90):
    print("A")
elif(marks >= 80):
    print("B")
elif(marks >= 70):
    print("C")
else:
    print("D")

marks : 78

C

In [49]:
# nesting
age=22

if (age >= 18):
    if (age >= 80):
        print("can not drive")
    else:
        print("can drive")
else:
    print("cannot drive")

can drive

# P.Q

In [52]:
# Q1- check if number is odd or even.
a=(int(input("enter number:")))
rem=a%2

if (rem == 0):
    print("even")
else:
    print("odd")

enter number: 8

even

In [53]:
# Q2- find the greatest of three number by the user.
a = int(input("enter first number: "))
b = int(input("enter second number: "))
c = int(input("enter third number: "))

if (a>=b and a>=c):
    print("first number is greatest", a)
elif (b>=c):
    print("second number is greatest", b)
else:
    print("third number is greatest", c)

enter first number:  80
enter second number:  60
enter third number:  65

first number is greatest 80

In [54]:
# Q3- check if number is multiple of 7 or not.
p = int(input("enter number: "))

if (p%7 == 0):
    print("multiple of 7")
else:
    print("not a multiple")

enter number:  68

not a multiple

# LIST - [ ] - MUTEABLE - changeable

In [2]:
data = [90,92, "paarshant",85.4]
data

[90, 92, 'paarshant', 85.4]

In [6]:
data = [90,92, "paarshant",85.4]
print(data)

data[1]="prince"
print(data)

[90, 92, 'paarshant', 85.4]
[90, 'prince', 'paarshant', 85.4]

# LIST - SLICING

In [8]:
data = [90,92,54,64,"rohit",85.5,78]
print(data[1:4])
print(data[1:])

[92, 54, 64]
[92, 54, 64, 'rohit', 85.5, 78]

# list method

In [10]:
list = [5,6,7,2,4]
list.append(8)              #  ADD ONE ELEMENT AT THE END
print(list)

[5, 6, 7, 2, 4, 8]

In [12]:
list=[5,8,2,6,7]
list.sort(reverse=True)
print(list)

[8, 7, 6, 5, 2]

In [13]:
list=[5,8,2,6,7]
list.sort
print(list)

[5, 8, 2, 6, 7]

In [14]:
list = [4,5,2]
list.reverse() 
print(list)

[2, 5, 4]

In [15]:
list = [4,5,2]
list.insert(1,3) 
print(list)

[4, 3, 5, 2]

In [16]:
list = [4,5,2]
list.remove(5) 
print(list)

[4, 2]

In [17]:
list = [4,5,2,3]
list.pop(1)           # index wise deletes
print(list)

[4, 2, 3]

# TUPLES - BUILT IN DATATYPES - IMMUTEABLE - ()

In [18]:
tup = (4,5,2,3)
print(tup[1])

5

In [21]:
tup = [4,5,2,8,7]
print(tup[1:3])

[5, 2]

# Tuple Method

In [23]:
tup = [4,5,2,3]
print(tup.index(5))

1

In [24]:
tup = [4,5,2,4,1,5,2,5,3]
print(tup.count(5))

3

# P.Q

In [25]:
# Q - WAP  to ask the user to enter names of their 3 fav. movies & store them in the list.
movies = []
a = input("enter first movie :")
movies.append(a)
b = input ("enter second movie :")
movies.append(b)
c = input("enter third movie :")
movies.append(c)

print(movies)

enter first movie : pk
enter second movie : ishq
enter third movie : chup chup ke

['pk', 'ishq', 'chup chup ke']

In [26]:
# Q -
grade = ("b","a","d","a","c")
print(grade.count("a"))

2

# DICTIONARY AND SETS

# dictionaries are used to store data in key values pairs .

In [28]:
a = { "name" : "parshant",
      "age"  : 23
    }
a

{'name': 'parshant', 'age': 23}

In [1]:
info = {
    "name" : "parshant",
    "corse" : "data science",
    "subject" : ["ML","deep learning"],
    "loc" : "ropar",
    "marks" : 78,
    80 : "gh"
}
print(info["name"])
print(info["marks"])
print(info["loc"])

parshant
78
ropar

# Nested dictionary

In [5]:
stu = {
    "name" : "parshant",
    "sub" : {
    "math" : 74,
    "eng" : 68
    }
}
print(stu["sub"])
print(stu["sub"] ["math"])

{'math': 74, 'eng': 68}
74

# dict methods

In [6]:
stu = {
    "name" : "tushar",
    "sub" : {
        "math" : 84,
        "sci" : 72,
        "eng" : 76
    }
    
}

print(stu.keys())

dict_keys(['name', 'sub'])

In [7]:
stu = {
    "name" : "tushar",
    "sub" : {
        "math" : 84,
        "sci" : 72,
        "eng" : 76
    }
    
}

print(stu.values())

dict_values(['tushar', {'math': 84, 'sci': 72, 'eng': 76}])

In [4]:
# SET - set is the collection of the unordered items.  each elements in the set must be unique and immuteable.

a={1,2,3,4}
print(type(a))
print(a)

<class 'set'>
{1, 2, 3, 4}

In [7]:
a={1,2,3,4,5,2,3,"hello"}
print(type(a))
print(a)            # duplicate items are not allowed in set.

<class 'set'>
{'hello', 1, 2, 3, 4, 5}

# LOOPING

# for loop - u know how many times to repeat.   RUN ON SEQUENCE.

In [1]:
name="Parshant"
for i in name:
    print(i)

P
a
r
s
h
a
n
t

In [2]:
name="Parshant"
for i in name:
    print(i)
    if(i=="a"):
        print("happy diwali")

P
a
happy diwali
r
s
h
a
happy diwali
n
t

In [4]:
color= ["red", "green", "blue"]
for p in color:
    print(color)
    for i in p:
        print(i)

['red', 'green', 'blue']
r
e
d
['red', 'green', 'blue']
g
r
e
e
n
['red', 'green', 'blue']
b
l
u
e

In [6]:
# print no. 0 to 5
for k in range(5):
    print(k)

0
1
2
3
4

In [10]:
# print no. 1 to 5
for k in range(5):
    print(k+1)

1
2
3
4
5

In [16]:
# print no. 1 to 7.
for k in range(1,8):
    print(k)

1
2
3
4
5
6
7

In [22]:
# print no. 5 to 15.
for k in range(5,16):
    print(k)

5
6
7
8
9
10
11
12
13
14
15

In [23]:
for k in range(5,16,3):
    print(k)

5
8
11
14

# WHILE LOOP - Used when the number of iterations is unknown and depends on a condition.    RUN ON CONDITIONS.
           # -  Repeating actions until a condition becomes false.

In [12]:
i = 0
while(i<3):
    print(i)
    i = i+1

print("done")

0
1
2
done

In [21]:
i = int(input("enter number: "))
while(i<=25):
    i = int(input("enter number: "))
    print(i)
    i = i+1

print("done")

enter number:  35

done

c = 5
while (c > 0):
    print(c)
    c=c-1

In [22]:
c=5
while (c>0):
    print(c)
    c=c-1

5
4
3
2
1

In [32]:
count = 5
while (count > 0):
    print(count)
    count = count - 1
else:
    print("welcome")

5
4
3
2
1
welcome

In [37]:
i=1
while i <= 5:
    print("hello")
    i+=1

hello
hello
hello
hello
hello

In [38]:
#Q1 - PRINT NO 1 TO 5.
i=1
while i <= 5:
    print(i)
    i+=1

print("THE END")

1
2
3
4
5
THE END

In [1]:
# Q3 - print no 20 to 1.
i=20
while i <=1:
    print(i)
    i-=1

In [5]:
# Q3 - print the multiplication table of a number n.
n=int(input("enter number: "))
i=1
while i<= 10:
    print(n*i)
    i+=1

enter number:  8

8
16
24
32
40
48
56
64
72
80

In [8]:
i=1
while i <= 5:
    print(i)
    if(i==3):
        break
    i+=1
print("end")

1
2
3
end

In [2]:
# Q2 - print no. from 10 to 15.
i=10
while i<=15:
    print(i)
    i+=1

10
11
12
13
14
15

In [4]:
# Q4 - print cubes of no. from 1 to 5.
i=1
while i <= 5:
    print(i**3, end=" ")
    i+=1

1 8 27 64 125

In [12]:
# Q5 - print odd no. from 1 to 10.
i=1
while i<=10:
    if i %2 !=0:
        print(i, end=" ")
    i+=1

1 3 5 7 9

In [13]:
# Q6 - calculate product from 1 to 5.
p=1
i=1
while i<=5:
    p*=i
    i+=1
print(p)

120

In [15]:
# Q7 - reverse each word in sentence.  "Hello World".
s=input("enter a sentence = ") 
w= s.split()
for w in w:
    i=len(w)-1
    while i >= 0:
        print(w[i], end=" ")
        i -= 1
    print(end= " ")

enter a sentence =  Hello World

o l l e H  d l r o W

In [4]:
# Count number of consonants in the word
w = input("Enter a word to check = ")
vowels = "aeiou"
c = 0
i = 0

while i < len(w):
    if w[i].isalpha() and w[i].lower() not in vowels:
        c += 1
    i += 1

print("Number of consonants =", c)

Enter a word to check =  b

Number of consonants = 1

In [8]:
# print odd no.
i=1
while i <= 10:
    if(i%2==0):
        i+=1
        continue     # skip
    print(i)
    i+=1

1
3
5
7
9

In [9]:
# print even  no.
i=1
while i <= 10:
    if(i%2!=0):
        i+=1
        continue
    print(i)
    i+=1

2
4
6
8
10

# functions

In [1]:
a=10
b=20
sum = a+b
print(sum)

30

In [6]:
def calc_sum(a, b):
    return a+b

sum = calc_sum(50, 50050)
print(sum)

50100

In [13]:
def calc_avg(a, b, c):
    sum = a+b+c
    avg = sum/3
    print(avg)
    return avg

calc_avg(50,78,98)

75.33333333333333

75.33333333333333

In [2]:
# WAF to print length of a list. 
n=["chd","ropar","pune", "mohali"]
k=["u","w","t"]

def print_len(list):
    print(len(list))

print_len(n)
print_len(k)

4
3

In [4]:
# WAP to print the element of a list in a single line.  
n=["chd","ropar","pune", "mohali"]
k=["u","w","t"]

def print_len(list):
    print(len(list))

def print_list(list):
    for item in list:
        print(item, end=" ")

print_list(n)
print_list(k)

chd ropar pune mohali u w t

In [13]:
# WAF to find the factorial of n. (n is the parameter)
n=5

def cal_fact(n):
    fact=1
    for i in range(1, n+1):
        fact *= i
    print(fact)
cal_fact(5)

120

In [14]:
# WAP to convert usd to inr

def converter(usd_val):
    inr_val = usd_val * 83
    print(usd_val, "usd =", inr_val, "inr")

converter(100)

100 usd = 8300 inr

# Recursion

In [15]:
def show(n):
    print(n)

show(5)

5

In [17]:
def show(n):
    if(n==0):
        return
    print(n)
    show(n-1)
show(5)

5
4
3
2
1

# File input and output

In [1]:
# Typyes of all files

# text file
# binary file

In [4]:
#f = open("demo.txt", "r")
#data=f.read()
#print(data)
#print(type(data))
#f.close()

# OOPS

In [1]:
# object oriented programing.

# class & object in python

In [3]:
# class is a blueprint for creating objects.

In [5]:
# creating class
class student:
    name = "Parshant"

In [7]:
# creating object
s1 = student()
print(s1.name)

Parshant

In [8]:
s2 = student()
print(s2.name)

Parshant

In [12]:
class car:
    color = "blue"

car1 = car()
print(car1.color)

blue

In [1]:
# init function 
# constructor

# all classes have a function called_init_(), which is always executed when the object is being initiated.

In [6]:
class Student:
    def __init__(self, name, marks):   
        self.name = name
        self.marks = marks
        print("adding new student")

s1 = Student("Prince", 92)
print(s1.name, s1.marks)

s2 = Student("Sukhman", 94)
print(s2.name, s2.marks)

adding new student
Prince 92
adding new student
Sukhman 94

In [10]:
def welcome():
    print("welcome student")

In [14]:
# create student class that takes name & marks of 3 subjects as arguments in constructor. then create  a method to print the average.

class student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

    def get_avg(self):
        sum = 0
        for val in self.marks:
            sum += val
        print("hi", self.name, "your avg score is:", sum/3)

s1 =  student("monu", [90,80,85])
s1.get_avg()

s1.name = "ram"
s1.get_avg()

hi monu your avg score is: 85.0
hi ram your avg score is: 85.0