In [1]:
# Write a Python program to print “Hello, World!”
a="hello world"
a

'hello world'

In [3]:
# Take two numbers as input and print their sum.
a=int(input("enter number"))
b=int(input("enter number"))
c=a+b
print(c)

enter number 10
enter number 20

30

In [8]:
# Swap two variables without using a third variable
a=10,20
b=30,10

a,b=b,a
print('a =',a,'b=',b)

a = (30, 10) b= (10, 20)

In [11]:
# Convert temperature from Celsius to Fahrenheit.
celsius = 35
fahrenheit = (celsius * 9/5) + 32
print("Temperature in Fahrenheit:", fahrenheit)

Temperature in Fahrenheit: 95.0

In [24]:
# Check if a number is positive, negative, or zero.
a=int(input("enter number: "))
if a > 0:
    print("positive number")
elif a < 0:
    print("negative number")
else:
    print("number is zero")

enter number:  10

positive number

In [30]:
# Count the number of vowels in a string.
a="parshant mishra"
vowels="aeiou"

count=0
for i in a:
    if i in vowels:
        count += 1

print(count)

4

In [48]:
# Reverse a string without using reverse().
a="parshant"
print(a[::-1])

tnahsrap

In [13]:
# LISTS

In [53]:
# Find the largest and smallest number in a list.
a=[1,20,1,50]
b=max(a)
c=min(a)
print(b)
print(c)

50
1

In [57]:
# Remove duplicates from a list. 
a=[10,50,30,10,30,20]
unique=list(set(a))
unique

[10, 50, 20, 30]

In [58]:
# Count even and odd numbers in a list.
n=[5,7,2,3,2,8,6,5,4,8]

even = 0
odd = 0

for i in n:
    if i%2 == 0:
        even += 1
    else:
        odd += 1

print("even numbers:", even)
print("odd numbers:", odd)

even numbers: 6
odd numbers: 4

In [64]:
n=int(input("enter number: "))

#even = 0
#odd = 0

#for i in n:
if i%2 == 0:
    print('even')
else:
    print('odd')

print("even number:", even)
print("odd number:", odd)

enter number:  10

even
even number: 1
odd number: 0

In [69]:
# Find the sum of all numbers in a list (without using sum()).
numbers = [10, 20, 30, 40, 50]

total = 0

for num in numbers:
    total += num

print("Sum of list:", total)

Sum of list: 150

In [4]:
# Check if an element exists in a list.

a = [20, 40, 60, 20, 30, 40, 30]
element = 20

if element in a:
    print("found")
else:
    print("not found")

found

In [6]:
# Remove duplicate elements from a list
a= [20, 40, 60, 20, 30, 40, 30]

b = list(set(a))
print(b)

[40, 20, 60, 30]

In [12]:
# FUNCTIONS

In [8]:
# Write a function to check whether a number is prime
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2,n):
        if n % i == 0:
            return False
    return True

print(is_prime(7))

print(is_prime(10))

True
False

In [10]:
# Write a function to find factorial of a number.
def factorial_iterative(n: int):
    if n < 0:
        raise ValueError("factorial is not defined for negative numbers")
    result=1
    for i in range(1, n+1):
        result *= i
    return result

print(factorial_iterative(5))

120

In [11]:
import math

print(math.factorial(5))

120

In [18]:
# Write a function to return the maximum of three numbers.
def max_of_three(a: int, b: int, c: int):
    if a >= b and a >= c:
        return a
    elif b >= a and b >= c:
        return b
    else:
        return c

print(max_of_three(20,25,30))

30

In [24]:
# Write a function to count vowels in a string

def count_vowels(s: str) -> int:
    vowels = "aeiou"
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count

print(count_vowels("parshant mishra"))

4

In [25]:
# Write a function to reverse a list
def reverse_list_slicing(lst: list) -> list:
    return lst[::-1]

# Example
print(reverse_list_slicing([1, 2, 3, 4, 5]))

[5, 4, 3, 2, 1]

In [26]:
# misc questions

In [28]:
# Find LCM and gcd of two numbers
import math

l=40
c=50
m=60
print(math.lcm(l,c,m))

600

In [29]:
import math 
g=20
c=10
d=50
print(math.gcd(g,c,d))

10

In [32]:
# Count frequency of elements in a list.
def second_largest(nums):
    nums = list(set(nums))  # remove duplicates
    nums.sort()
    return nums[-2] if len(nums) >= 2 else None

print(second_largest([10, 20, 4, 45, 99]))  # Output: 45

45

In [34]:
# Print numbers from 1 to 10 using a loop.
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [37]:
# Print all even numbers between 1 and 50.
for i in range(2,51,4):
    print(i, end=" ")

2 6 10 14 18 22 26 30 34 38 42 46 50

In [38]:
for i in range (1,51):
    if i % 2 == 0:
        print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [39]:
# Find the sum of first n natural numbers
def sum_natural_numbers_loop(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total

n = 10
print("Sum of first", n, "natural numbers is:", sum_natural_numbers_loop(n))

Sum of first 10 natural numbers is: 55

In [46]:
def fibonacci_series(n):
    fib = []
    a, b = 0, 1
    for _ in range(n):
        fib.append(a)
        a, b = b, a + b
    return fib

# Example usage:
n = 10
print("Fibonacci series up to", n, "terms:", fibonacci_series(n))

Fibonacci series up to 10 terms: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [1]:
# Print the multiplication table of a given number
n=int(input("enter number: "))
i=1

while i<=10:
    print(n*i)
    i+=1

enter number:  10

10
20
30
40
50
60
70
80
90
100

In [2]:
n=int(input("enter number"))
for i in range (1,11):
    print(f"{n}*{i} = {n*i}")

enter number 7

7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
7*10 = 70

In [ ]:
# Check whether a number is a prime number
n=int(input("enter number: "))     
for i in range(2,n):
    if n%i==0:
        print('not prime')
        break
    else:
        print('prime')