# multiple linear regression

In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Import LinearRegression to create and train the simple linear regression model
from sklearn.linear_model import LinearRegression

# Import metrics to evaluate the model's performance (MSE, R-squared, MAE)
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

# Import numpy for mathematical operations (e.g., square root for RMSE)
import numpy as np

In [13]:
data = pd.read_csv(r"C:\Users\ADMIN\Documents\student_scores.csv")

data.head()

   StudyHours  Attendance  AssignmentsCompleted  ExamScore
0           5          80                     8         65
1           7          85                    10         72
2           3          70                     5         55
3           9          90                    12         80
4           6          75                     7         68

In [18]:
X = data[['StudyHours','Attendance','AssignmentsCompleted']]

# Create y (target) by selecting the ExamScore column
y = data['ExamScore']

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()

model.fit(X_train, y_train)

LinearRegression()

In [21]:
X_test,y_test

(    StudyHours  Attendance  AssignmentsCompleted
 13           5          72                     6
 39          13          96                    16
 30           4          67                     5
 45          12          97                    15
 17           7          84                     9
 48           8          87                    11
 26          14          97                    18
 25           2          62                     4
 32          12          95                    15
 19          13          99                    17,
 13    63
 39    91
 30    57
 45    90
 17    73
 48    77
 26    93
 25    52
 32    89
 19    92
 Name: ExamScore, dtype: int64)

In [27]:
# Use the trained model to predict ExamScore for the test set (X_test)
y_pred = model.predict(X_test)
y_pred

array([62.16582257, 93.11677341, 57.9302123 , 90.5087132 , 71.88266089,
       76.27885554, 96.97045138, 51.51838453, 89.96619651, 94.63364951])

In [30]:
print("Slope (StudyHours):", model.coef_)

# Print the model's intercept (base ExamScore when StudyHours is zero)
print("Intercept:", model.intercept_)

Slope (StudyHours): [2.17621749 0.27125834 0.70310107]
Intercept: 27.535527915635477

In [31]:
# Calculate Mean Squared Error (average squared difference between predicted and actual ExamScores)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error (MSE):", mse)

# Calculate Root Mean Squared Error (square root of MSE, in same units as ExamScore)
rmse = np.sqrt(mse)
print("Root Mean Squared Error (RMSE):", rmse)

# Calculate Mean Absolute Error (average absolute difference between predicted and actual ExamScores)
# MAE is in exam score points, intuitive for students
mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error (MAE):", mae)

# Calculate and print R-squared (proportion of variance in ExamScore explained by StudyHours)
# R-squared ranges from 0 to 1; closer to 1 indicates a better fit
print("R-squared:", r2_score(y_test, y_pred))

Mean Squared Error (MSE): 3.1935244820952318
Root Mean Squared Error (RMSE): 1.7870435031345018
Mean Absolute Error (MAE): 1.428027279443397
R-squared: 0.9856283493897879

#  car price pred.

In [8]:
# Import pandas to load and manipulate the dataset
import pandas as pd

# Import train_test_split to split the data into training and test sets
from sklearn.model_selection import train_test_split

# Import RandomForestRegressor to create and train the random forest regression model
from sklearn.ensemble import RandomForestRegressor

# Import metrics to evaluate the model's performance (MSE, R-squared, MAE)
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

# Import numpy for mathematical operations (e.g., square root for RMSE)
import numpy as np

In [9]:
# Load the housing_rental_prices.csv dataset into a pandas DataFrame
dataset = pd.read_csv(r"C:\Users\ADMIN\Documents\quikr_car.csv")
dataset.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",NaN
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [10]:
dataset.drop_duplicates(inplace=True)
dataset

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",NaN
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",50000kms,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",60000kms,NaN

In [11]:
# Load the dataset
#dataset = pd.read_csv(loadFileData("quikr_car.csv"))
dataset = pd.read_csv(r"C:\Users\ADMIN\Documents\quikr_car.csv")
# Clean the Price column
dataset = dataset [dataset ['Price'] != 'Ask For Price']
dataset ['Price'] = dataset ['Price'].str.replace(',', '').astype(float)

# Clean the kms_driven column
dataset  = dataset [dataset ['kms_driven'].notna()]
dataset ['kms_driven'] = dataset ['kms_driven'].str.replace(' kms', '').str.replace(',', '')
dataset  = dataset [dataset ['kms_driven'].str.isnumeric()]
dataset ['kms_driven'] = dataset ['kms_driven'].astype(float)

# Clean the year column
dataset  = dataset [dataset ['year'].str.isnumeric()]
dataset ['year'] = dataset ['year'].astype(int)

# Drop rows with missing values in relevant columns
#dataset  = dataset .dropna(subset=['year', 'kms_driven', 'Price'])
# Drop rows with missing values in relevant columns
dataset = dataset.dropna(subset=['year', 'kms_driven', 'Price'])
dataset

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000.0,45000.0,NaN
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000.0,40.0,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000.0,28000.0,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000.0,36000.0,Diesel
6,Ford Figo,Ford,2012,175000.0,41000.0,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000.0,50000.0,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000.0,30000.0,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000.0,132000.0,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000.0,27000.0,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000.0,40000.0,Diesel

In [14]:
dataset.isnull().sum()

name          0
company       0
year          0
Price         0
kms_driven    0
fuel_type     0
dtype: int64

In [13]:
dataset.fillna({"fuel_type": dataset["fuel_type"].mode()[0]}, inplace=True)
dataset

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000.0,45000.0,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000.0,40.0,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000.0,28000.0,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000.0,36000.0,Diesel
6,Ford Figo,Ford,2012,175000.0,41000.0,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000.0,50000.0,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000.0,30000.0,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000.0,132000.0,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000.0,27000.0,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000.0,40000.0,Diesel

In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

from sklearn.tree import DecisionTreeRegressor

from sklearn.preprocessing import StandardScaler

# Import RandomForestRegressor to create and train the random forest regression model
from sklearn.ensemble import RandomForestRegressor

# Import metrics to evaluate the model's performance (MSE, R-squared, MAE)
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

# Import numpy for mathematical operations (e.g., square root for RMSE)
import numpy as np

In [2]:
dataset = pd.read_csv(r"C:\Users\ADMIN\Documents\House_price_dataset.csv")
df=pd.DataFrame(dataset)

In [3]:
dataset.drop_duplicates(inplace=True)
dataset

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [4]:
dataset.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [14]:
x = df(columns=["bedrooms", "bathrooms", "sqft_living", "floors", "yr_built"])

y = df["price"]

x=pd.get_dummies(x,columns=["street","city","statezip","country"],drop_first=True)

TypeError: 'DataFrame' object is not callable

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
model=StandardScaler()
x_train_scaler=model.fit_transform(x_train)
x_test_scaler=model.transform(x_test)
model_1=LinearRegression()
model_1.fit(x_train_scaler,y_train)
y_pred=model_1.predict(x_test_scaler)

In [7]:
model_2=DecisionTreeRegressor()
model_2.fit(x_train_scaler,y_train)
y_pred_2=model_2.predict(x_test_scaler)

In [8]:
model_3=RandomForestRegressor()
model_3.fit(x_train_scaler,y_train)
y_pred_3=model_3.predict(x_test_scaler)

In [ ]:
mse = mean_squared_error(y_test, y_pred)
print(f"LinearRegression MSE: {mse}")